HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled class files
*.class

# Build directories
/target/
/bin/
/out/

# Maven / Gradle
/.mvn/
.gradle/

# Logs
*.log

# JAR / WAR files
*.jar
*.war

# Environment / secrets
src/main/resources/application.properties
src/api/.env.development
src/api/.env.production
.env
.env.*

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk_backup/

# Archives
*.zip

app.jar
.elasticbeanstalk/
src/.elasticbeanstalk/
target/
*.log
*.zip